---
import { getEntry, render } from "astro:content";
import LessonLayout from "../../layouts/LessonLayout.astro";
import { getSession } from "auth-astro/server";

const { id } = Astro.params;
if (id === undefined) {
    return new Response("Not found", { status: 404 });
}

const post = await getEntry("lessons", id);
if (post === undefined) {
    return new Response("Not found", { status: 404 });
}

if (post.data.premium) {
    const session = await getSession(Astro.request);
    if (session === null) {
        return Astro.redirect("/premium");
    }
}
const { Content } = await render(post);
const displayCoffeeLink = post.data.premium ? 'block' : 'none';
---

<LessonLayout>
    <h1>{post.data.title}</h1>
    <Content />

    {post.data.premium && (
        <a href="https://buycoffee.to/cdn-training" rel="nofollow" class="coffee-link">
            Like premium content? <img src="/coffee.png" alt="Coffee" width="20" height="20" /> Buy me a coffee
        </a>
    )}
</LessonLayout>
