---
import { getCollection } from "astro:content";
import { LessonCard } from "../components/LessonCard";
import Layout from "../layouts/Layout.astro";
const allLessons = await getCollection("lessons");
---

<style is:global>
    .lessons-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
    }

    .lesson-card {
        width: 30%;
        background: white;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .lesson-card:hover {
        transform: translateY(-4px);
    }

    .lesson-card h3 {
        color: var(--text);
        margin-bottom: 0.5rem;
    }

    .lesson-card p {
        color: var(--text-light);
    }

    @media (max-width: 768px) {
        .lessons-grid {
            flex-direction: column;
        }

        .lesson-card {
            width: 100%;
            max-width: 100%;
        }
    }
</style>
<Layout>
    <div class="container lessons-grid">
        {
            allLessons
                .sort((a, b) => a.id.localeCompare(b.id))
                .map(lesson => <LessonCard title={lesson.data.title} subtitle={lesson.data.subtitle} id={lesson.id} />)
        }
    </div>
</Layout>
