---
import { getCollection } from "astro:content";
import { LessonCard } from "../components/LessonCard";
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";
const allLessons = await getCollection("lessons");
const session = await getSession(Astro.request);
---

<style is:global>
    .lessons-grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
    }

    .lesson-card {
        width: 30%;
        background: white;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .lesson-card:hover {
        transform: translateY(-4px);
    }

    .lesson-card h3 {
        color: var(--text);
        margin-bottom: 0.5rem;
    }

    .lesson-card p {
        color: var(--text-light);
    }

    .premium-badge {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        color: white;
        padding: 0.4rem 0.4rem 0.7rem 0.4rem;
        border-radius: 50%;
        font-size: 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 768px) {
        .lessons-grid {
            flex-direction: column;
        }

        .lesson-card {
            width: 100%;
            max-width: 100%;
        }
    }
</style>
<Layout>
    <div class="container lessons-grid">
        {
            allLessons
                .sort((a, b) => a.id.localeCompare(b.id))
                .map(lesson => <LessonCard isAccessGranted={session !== null || !lesson.data.premium} title={lesson.data.title} subtitle={lesson.data.subtitle} id={lesson.id} />)
        }
    </div>
</Layout>
