---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="container lessons-grid">
        <div class="lesson-card">
            <h3>1. Introduction to CDNs</h3>
            <p>Understanding the basics of Content Delivery Networks and their importance</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
        <div class="lesson-card">
            <h3>2. CDN Architecture</h3>
            <p>Deep dive into how CDNs work and their core components</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
        <div class="lesson-card">
            <h3>3. Implementation Guide</h3>
            <p>Step-by-step guide to implementing a CDN for your website. What if there will be more content? And even more content? Will this wrap?</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
        <div class="lesson-card">
            <h3>2. CDN Architecture</h3>
            <p>Deep dive into how CDNs work and their core components</p>
            <p>Or a second paragraph. How does that look like?</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
        <div class="lesson-card">
            <h3>3. Implementation Guide</h3>
            <p>Step-by-step guide to implementing a CDN for your website</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
        <div class="lesson-card">
            <h3>2. CDN Architecture</h3>
            <p>Deep dive into how CDNs work and their core components</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
        <div class="lesson-card">
            <h3>3. Implementation Guide</h3>
            <p>Step-by-step guide to implementing a CDN for your website</p>
            <br>
            <a href="lesson" class="button">Begin</a>
        </div>
    </div>
</Layout>
