---
import { Prism } from "@astrojs/prism";

interface Props {
  code: string;
  lang: string;
}

const { code, lang } = Astro.props;
---
<div class="code-block-wrapper">
  <Prism code={code} lang={lang} />
</div>