<footer>
    <div class="footer-content">
        <div>© 2025 Learn CDN. All rights reserved.</div>
        <div>
            Created by <a href="https://benetkiewicz.pl">Piotr Benetkiewicz</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
        </div>
    </div>
</footer>