---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<nav>
    <div class="nav-container">
        <a href="/" class="nav-logo">Learn CDN</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/lessons">Lessons</a>
            {session ? <a href="/profile">Profile</a> : <a href="/api/auth/signin">Sign In</a>}
        </div>
    </div>
</nav>
