<nav>
    <div class="nav-container">
        <a href="/" class="nav-logo">Learn CDN</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/lessons">Lessons</a>
        </div>
    </div>
</nav>